@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&family=Mulish:wght@700&family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.menu{
    background-color: #2e2d2d;
    height: 80px;
    text-align: left;
}

.menu ul{
    list-style: none;
    display: flex;
    padding: 20px;
    font-size: 1rem;
 }

.menu ul li{
    margin-left: 30px;
}

.menu li a {
    padding: 10px;
    color: #fffefe;
    background-color: none;
    text-decoration: none;
    border-radius: 5px;
}

.menu li a:hover{
    background-color: #484646;
}

form{
    margin: 30px;
    border: 1px solid #504e4e;
    border-radius: 2px;
    padding: 30px;
    display:flex;
    justify-content: space-between;
    font-size: .9rem;
}

input{
    padding: 3px;
    border-radius: 2px;
    border: 1px solid #525050;
}

form button{
    margin-left: 10px;
}

.fa-solid{
    border: none;
}

.inventory-table{
    margin: 30px;
    border: 1px solid #535050;
    border-radius: 2px;
    width: 96%;
}




